<!DOCTYPE html>
<html>
<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-81232063-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-81232063-2');
</script>


<title>Credibility Toolkit</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
div.url {
    /*color: white;
    background-color: black;*/
    padding: 10px;
}
</style>
<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui.js"></script>
<script type="text/javascript" src="js/d3.v3.min.js"></script>
<script type="text/javascript" src="js/credibility.js"></script>
<script type="text/javascript" src="js/loader.js"></script>
<script type="text/javascript" src="js/graph-utils.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-select.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="css/index.css"></script>
<link rel=icon href=static/logo/flavicon.png>
</head>

<body>

<!-- Added navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" style="z-index: 3"> 
  <a href="/"><img id ="navLogo" class="navbar-brand" src="/static/logo/logo_small_trans.png"></img></a>
  <ul class="nav navbar-nav navbar-right">
    <li> 
      <a href="/"> Home </a>
    </li>
	<li> 
		<a href="/datasetRequest"> Datasets </a>
	</li>
    <li>
      <a style="padding-right:50px" href="/help"> Help </a>
    </li>
  </ul>
</nav>

<!-- Add New Entries Form -->

<div id="panelContainer" style="margin-top: 70px; margin-left:10px; overflow:hidden">
<div class='panel panel-default' style="width:800px;">
<div class="panel-heading" style="font-weight:bold; font-size:larger"> <center> Check a News Article </center> </div>
<div class="panel-body">

<form action="/article" method="POST">
  <label>URL:</label>
  <input name="url" list="urls" style="width:80%">
  <datalist id="urls">
    <option value="http://www.npr.org/sections/thetwo-way/2016/12/10/505103338/in-reversal-gambian-president-rejects-loss-and-calls-for-new-election">
    <option value="http://www.nytimes.com/2017/06/23/us/politics/paul-manafort-jeffrey-yohai.html">
    <option value="http://www.nytimes.com/2017/06/23/world/middleeast/immigration-asylum-syria-terrorism.html">
    <option value="http://www.infowars.com/media-attempts-to-omit-legal-status-of-man-arrested-for-murder-of-muslim-girl">
    <option value="http://beforeitsnews.com/opinion-liberal/2017/06/yes-mr-putin-we-americans-have-lost-our-mind-2555917.html">
    <option value="http://www.cbsnews.com/news/vladimir-putin-gave-direct-instructions-help-elect-donald-trump-report/">
    <option value="https://www.washingtonpost.com/powerpost/senate-gop-leaders-set-to-unveil-health-care-bill/2017/06/22/56dbe35c-5734-11e7-a204-ad706461fa4f_story.html?utm_term=.b
3b85da9a1f7">
  </datalist>
  <input type="submit">
</form>

<br>
<form action="/manual" method="POST">
  <label>Manual Entry:</label>
  <input type="submit" id="manual_entry_button" value="Show">
  <div id="manual_entry">
	  <label>Title:</label><br>
	  <textarea width="100%" rows="2" cols="80" name="manual_entry_title"></textarea><br>
	  <label>Text:</label><br>
	  <textarea width="100%" rows="20" cols="80" name="manual_entry_text"></textarea><br>
	  <input type="submit">
  </div>
  <form>
</form>

<script>
$( "#manual_entry" ).hide()
$( "#manual_entry_button" ).click(function( event ) {
  event.preventDefault();
  if ($("#manual_entry").is(":visible")) {
    $( "#manual_entry" ).hide();
    $( "#manual_entry_button" ).val("Show");
  } else {
    $( "#manual_entry" ).show();
    $( "#manual_entry_button" ).val("Hide");
  }
});
</script>

<br>
<input type="button" onclick="reset_all_data()" value="Reset All Entries"></input>
<script>
function reset_all_data() {
  var answer = confirm("Reset all data?");
  if (answer) {
     window.location.href='/reset'
  }
}
</script>
<input type="button" onclick="clear_all_data()" value="Clear All Entries"></input>
<script>
function clear_all_data() {
  var answer = confirm("Clear all data?");
  if (answer) {
     window.location.href='/clear'
  }
}
</script>
<div style="float:right; width:375px; margin-top: -25px"> <p style="font-size:8"><strong> Tip </strong>:If your new article does not show up in the table, press CTRL+SHIFT+R to refresh browser cache</p> </div>

</div>
</div>
</div>

<!-- Objectivity Sliders -->
<div id="panelContainer" style="margin-left:10px">
<div class='panel panel-default' style="width:800px;">
<div class="panel-heading" style="font-weight:bold; font-size:larger"> <center> Filter Analyzed Articles </center> </div>
<div class="panel-body" id="filters_div">
<table><tbody>

<tr><td>
<label for="reliability-slider-vals">Reliability Range:</label>
<input type="text" id="reliability-slider-vals" readonly style="border:0; color:#f6931f; /*background-color:#000000;*/">
</td><td width="50%">
<div id="reliability-slider"></div>
</td></tr>

<tr><td>
<label for="bias-slider-vals">Political Impartiality Range:</label>
<input type="text" id="bias-slider-vals" readonly style="border:0; color:#f6931f; /*background-color:#000000;*/">
</td><td width="50%">
<div id="bias-slider"></div>
</td></tr>

<tr><td>
<label for="title-slider-vals">Title Objectivity Range:</label>
<input type="text" id="title-slider-vals" readonly style="border:0; color:#f6931f; /*background-color:#000000;*/">
</td><td width="50%">
<div id="title-slider"></div>
</td></tr>

<tr><td>
<label for="text-slider-vals">Text Objectivity Range:</label>
<input type="text" id="text-slider-vals" readonly style="border:0; color:#f6931f; /*background-color:#000000;*/">
</td><td width="50%">
<div id="text-slider"></div>
</td></tr>

<!--
<tr><td>
<label for="community-slider-vals">Community Rating Range:</label>
<input type="text" id="community-slider-vals" readonly style="border:0; color:#f6931f; /*background-color:#000000;*/">
</td><td width="50%">
<div id="community-slider"></div>
</td></tr>
-->

</tbody></table>
</div>
</div>
</div>

<p>

<div id="article_table" width="100%"></div>

<script>

init_table_data("{{json|string|safe}}", true);

/* Slider definitions */
</script>
</body>
</html>
