<!doctype html>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title>{{title}}</title>
  <script type="text/javascript" src="/static/d3.v3.js" charset="utf-8"></script>
  <style type="text/css">
    body { font-family: 'Helvetica Neue', Helvetica; font-weight: 300; padding: 20px;}
    th { text-align: left; }
    th, td { padding: 0 1em 0.5ex 0;}
    th.center, td.center { text-align: center; }
    th.num, td.num { text-align: right; }
  </style>
</head>

<body>
  <input type="radio" name="radio" id="radio" value="pie_chart" checked="checked" onclick='setChart("pie_chart")' />
  <label for="rad1">Pie Chart</label>

  <input type="radio" name="radio" id="radio" value="line_chart" onclick='setChart("line_chart");' />
  <label for="rad1">Line Chart</label>

  <input type="radio" name="radio" id="radio" value="bar_chart" onclick='setChart("bar_chart");' />
  <label for="rad1">Bar Chart</label>

  <br>
  <div id='chartDiv'></div>
  <div id='tableDiv'></div>

  <script>

  var width = 500
  var height = 500
  var ticks = 8

  var chart_type = pie_chart
  var csv_data = null
  var columns = null
  var column = null

  var canvas = d3.select('#chartDiv').append("svg")
      .attr("width", width)
      .attr("height", height)

  function setColumn(value) {
    if (!csv_data) {
      return
    }

    d3.selectAll("#image").remove()

    for (var i = 0; i < csv_data.length; i++) {
      if (isNaN(csv_data[i][value])) {
        return
      }
    }

    column = value
    if (column != null) {
      chart_type()
    }
  }

  function setChart(chart) {
    var fn = window[chart];
    if(typeof fn === 'function') {
      chart_type = fn
      setColumn(column)
    }
  }

  // The table generation function
  function tabulate() {
    var table = d3.select('#tableDiv').append("table")
    var thead = table.append("thead")
    var tbody = table.append("tbody")

    // append the header row
    thead.append("tr")
        .selectAll("th")
        .data(columns)
        .enter()
        .append("th")
            .html(function(c) { return "<span onclick=setColumn(\"" + c + "\")>" + c + "</span>" });

    // create a row for each object in the data
    var rows = tbody.selectAll("tr")
        .data(csv_data)
        .enter()
        .append("tr");

    // create a cell in each row for each column
    var cells = rows.selectAll("td")
        .data(function(row) {
            return columns.map(function(c) {
                return {c: c, value: row[c]};
            });
        })
        .enter()
        .append("td")
        .html(function(d) { return d.value });
    
    return table;
  }
  
  function pie_chart() {
    if (csv_data == null || column == null) {
      return
    }

    var r = d3.min([width,height]) * .4

    var color = d3.scale.category10()

    var group = canvas.append("g")
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
        .attr("id","image")

    // to make this a pie chart, set the innerRadius to 0
    var arc = d3.svg.arc()
        .innerRadius(r-100)
        .outerRadius(r)

    var pie = d3.layout.pie()
        .value(function (d) { return d[column] })

    // select everything that has the class arc
    var arcs = group.selectAll(".arc")
        .data(pie(csv_data))
        .enter()
          .append("g")
          .attr("class","arc")
          .attr("fill",function(d) { return color(parseFloat(d.data[column])) })

    // we have to append a path to each returned object from the above "enter"
    var path = arcs.append("path")
        // fetch the data from the arc path generate (var arc above)
        .attr("d", arc)

/*
    path.transition()
        .duration(200)
        .attr("fill",function(d) { return color(parseFloat(d.data[column])) })
        .attr("d", arc)
        .each(function(d) {
            this._current = d;
        }); // store the initial angles
*/

    arcs.append("text")
        .attr("transform", function(d) { 
          return "translate(" + arc.centroid(d) + ")";
          })
        .attr("text-anchor", "middle")
        .attr("font-size", "1.5em")
        .attr("fill", "black")
        .text(function(d) { return d.data[column] })
 
  }

  function line_chart() {
    if (csv_data == null || column == null) {
      return
    }

    var map = csv_data.map(function (d, i) { return {x:i, y:parseFloat(d[column])} })

    var margin = d3.min([width,height]) * .1
    var mheight = height - margin * 2
    var mwidth = width - margin * 2

    var yextent = d3.extent(map, function(d) { return d.y})
    var y = d3.scale.linear()
        // the function histogram.map below returns an array of all bin sizes
        .domain([yextent[1], yextent[0]])
        .range([0, mheight])

    var x = d3.scale.linear()
        .domain([0, d3.max(map, function(d) { return d.x})])
        .range([0, mwidth])

    var xAxis = d3.svg.axis()
        .scale(x)
        .ticks(ticks)
        .orient("bottom")

    var yAxis = d3.svg.axis()
        .scale(y)
        .ticks(ticks)
        .orient("left")

    var group = canvas.append("g")
        .attr("transform", "translate(" + margin + "," + margin + ")")
        .attr("id","image")

    group.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + mheight + ")")
        .call(xAxis)

    group.append("g")
        .attr("class", "y axis")
        .call(yAxis)

    // used to generate a line from a path
    var line = d3.svg.line()
        .x(function (d) { return x(d.x) })
        .y(function (d) { return y(d.y) })

    // select everything that has the class arc
    var lines = group.selectAll(".line")
        .data([map])
        .enter()
          .append("g")
          .attr("class","line")
          .attr("fill", "none")
          .attr("stroke", "steelblue")
          .attr("stroke-width", 2)

    var path = lines.append("path")
        .attr("d", line)
  }

  function bar_chart() {
    if (csv_data == null || column == null) {
      return
    }

    var map = csv_data.map(function (i) { return parseFloat(i[column]) })

    var margin = d3.min([width,height]) * .1
    var mheight = height - margin * 2
    var mwidth = width - margin * 2

    var bins = 10
    var bin_width = mwidth / bins * .9

    var histogram = d3.layout.histogram()
        .bins(bins)
        (map)

    var y = d3.scale.linear()
        // the function histogram.map below returns an array of all bin sizes
        .domain([d3.max(histogram.map(function (i) { return i.length; })), 0])
        .range([0, mheight])

    var x = d3.scale.linear()
        .domain(d3.extent(map))
        .range([0, mwidth])

    var xAxis = d3.svg.axis()
        .scale(x)
        .ticks(ticks)
        .orient("bottom")

    var yAxis = d3.svg.axis()
        .scale(y)
        .ticks(ticks)
        .orient("left")

    var group = canvas.append("g")
        .attr("transform", "translate(" + margin + "," + margin + ")")
        .attr("id","image")

    group.append("g")
        .attr("class", "x axis")
        .attr("transform", "translate(0," + mheight + ")")
        .call(xAxis)

    group.append("g")
        .attr("class", "y axis")
        .call(yAxis)

    var bars = group.selectAll(".bar")
        .data(histogram)
        .enter()
        .append("g")

    bars.append("rect")
        .attr("x", function(d) { return x(d.x) })
        .attr("y", function(d) { return y(d.y) })
        .attr("width", function(d) { return bin_width })
        .attr("height", function(d) { return mheight - y(d.y) })
        .attr("fill", "steelblue")

    bars.append("text")
        .attr("x", function (d) { return x(d.x) })
        .attr("y", function (d) { return y(d.y) })
        // the dx/dy attribute moves the text
        .attr("dx", function(d) { return bin_width/2 })
        .attr("dy", "20px")
        .attr("fill", "#fff")
        .attr("text-anchor", "middle")
        .text(function(d) { return d.y })

  }

  d3.csv("{{datafile}}", function(error, data) {
    // \TODO: If a csv file has spaces after the comma, we
    // get a "unterminated string literal" error
    csv_data = data
    columns = Object.keys(csv_data[0])

    // we need to ensure the radio button that is checked is the chart we are using
    var radio = document.getElementsByName('radio');
    for (var i = 0; i < radio.length; i++) {
      if (radio[i].checked) {
        // setChart will also call setColumn and create the image
        setChart(radio[i].value)
        break
      }
    }

    tabulate()
  })

  </script>

</body>
</html>
