<html>
	<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-81232063-2"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-81232063-2');
	</script>

	<title>Help</title>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap-select.min.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/index.css">
		<link rel=icon href=static/logo/flavicon.png>
	</head>
</html>

<body>
<link rel="stylesheet" type="text/css" href="css/index.css">
<nav class="navbar navbar-inverse navbar-fixed-top"> 
	 <a href="/"><img id ="navLogo" class="navbar-brand" src="/static/logo/logo_small_trans.png"></img></a>
	<ul class="nav navbar-nav navbar-right">
		<li> 
			<a href="/"> Home </a>
		</li>
		<li> 
			<a href="/datasetRequest"> Datasets </a>
		</li>
		<li>
			<a href="/credibilitytoolkit"> Check a News Article </a>
		</li>
		<li>
			<a style="padding-right:50px" href="/visualizationtoolkit"> Compare News Sources </a>
		</li>
	</ul>
</nav>
<div class="row">
	<div class="col-sm-8">
		<div style="margin-top:100px; margin-left:50px; border-bottom: 1px solid #e6e6e6;">
			<h2>NELA Tutorial</h2>
		</div>
		<div style="margin-left:85px; margin-top: 20px">
			<iframe width="820" height="515"
				src="https://www.youtube.com/embed/eDCby4snM98">
			</iframe>
		</div>