<!DOCTYPE html>

<html>
	<head>
		<title>News Landscape</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'home.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'index.css') }}">
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" style="z-index: 1"> 
			<img id ="navLogo" class="navbar-brand" src="/static/logo/logo_small_trans.png"></img>
			<ul class="nav navbar-nav navbar-right">
				<li> 
					<a href="/about"> About </a>
				</li>
				<li>
					<a style="padding-right:50px" href="/help"> Help </a>
				</li>
			</ul>
		</nav>
		<div id="homeContainer">
			<img id="homeLogo" src="/static/logo/logo_large_trans.png"> </img>
		</div>
		<button id="credToolkitButton" type="button" class="btn btn-default btn-lg">
			<a href="/credibilitytoolkit">Check the News</a>
		</button>
		<button id="visualizationButton" type="button" class="btn btn-default btn-lg">
			<a href="/visualizationtoolkit">Visualize the News</a>
		</button>
	</body>
</html>
