<html>
	<head>
		<title>NewsVisualizer</title>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/loader.js"></script>
		<script type="text/javascript" src="js/jsapi"></script>
		<script type="text/javascript" src="js/source.js"></script>
		<script type="text/javascript" src="js/sourceData.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/bootstrap-select.min.css">
		<link rel="stylesheet" type="text/css" href="css/index.css"></script>
                <link rel=icon href=static/logo/flavicon.png>
	</head>
</html>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top"> 
	<a href="/"><img id ="navLogo" class="navbar-brand" src="/static/logo/logo_small_trans.png"></img></a>
	<ul class="nav navbar-nav navbar-right">
		<li> 
			<a href="/"> Home </a>
		</li>
		<li>
			<a href="/allsources"> Back to All Sources</a>
		</li>
		<li>
			<a style="padding-right:50px" href="/help"> Help </a>
		</li>
	</ul>
</nav>

<div class="row" style="display:inline-flex;">
	<div style="width:400px; float: left;"> 
 		<div class="panel panel-default" style="margin-top: 80px; margin-left: 45px; padding-bottom:5px"> 
 			<div class="panel-heading"> </div>
 			<div class = "panel-body"> 
 				<div class = "image-panel" style="justify-content: center; display: flex">
 					<img id="sourceImage" style="height:200px;">
 				</div>
 				<hr/>
 				<div class="form-inline" style="display:flex">
 					<label> Type: </label>
 					<p id="typeLabel" style="padding-left: 38px"></p>
 				</div>
 				<div class="form-inline" style="display:flex">
 					<label> Country: </label>
 					<p id="countryLabel" style="padding-left: 15px"></p>
 				</div>
 				<div class="form-inline" style="display:flex">
 					<label> Founded: </label>
 					<p id="foundedLabel" style="padding-left: 10px"></p>
 				</div>
 				<div class="form-inline" style="display:flex">
 					<label> Website: </label>
 					<a id="websiteLabel" style="padding-left: 16px"> </a> 
 				</div>
 			</div>
 		</div>
 		<div class="panel panel-default" style="margin-top: 25px; margin-left: 45px">
	 		<div class = "panel-body"> 
	 			<center> <strong style="font-size: large"> Top Phrases <strong> </center> 
	 			<hr/>
	 			<select class="form-control" id="monthPhraseSelector" style="text-align-last: center; padding-right: 29px; direction: ltr; margin-bottom:10px" onchange="updateTopPhrases(this);">
	 			</select>
		 		<div id="topPhrases">
		 			<!-- <div class="phrase">
					  <center> Phrase 1  <center>
					</div>
					<div class="phrase">
					  <center> Phrase 2 <center>
					</div>
					<div class="phrase">
					  <center> Phrase 3 <center>
					</div>
					<div class="phrase">
					  <center> Phrase 4 <center>
					</div>
					<div class="phrase">
					  <center> Phrase 5 <center>
					</div> -->
				</div>
	 		</div>
 		</div> 

 	</div>

 	<div style="width: 1300px; float: right; margin-top: 60px;">
 		<div style="width:825px; float: left; padding-left: 50px; padding-top:0.5px">
	 		<h1 id="sourceName"> </h1>
	 		<hr/>
	 		<div id="sourceMetadataVals" class="panel panel-default">
	 			<div class = "panel-body"> 
	 				<div id="perCredibleDiv">
	 					<span style="float:left; margin-right: 5px"> <p style="font-size: smaller"> RELIABILITY SCORE </p> </span>
	 					<span class="glyphicon glyphicon-question-sign" title="The percent of articles predicted as credible based on writing style."> </span>
		 				<p id="perCredibleVal"></p>
	 				</div>
	 				<div id="perImpartialDiv">
	 					<span style="float:left; margin-right: 5px"> <p style="font-size: smaller"> IMPARTIALITY SCORE </p> </span>
	 					<span class="glyphicon glyphicon-question-sign" title="The percent of articles predicted as impartial based on writing style."> </span>
		 				<p id="perImpartialVal"></p>
	 				</div>
	 			</div>
	 			<!-- <p id="isSatire" style="font-size:smaller; margin-left: 160px"> *Self-identified satire source </p> -->
				<!-- <p id="isHate" style="font-size:smaller; margin-left: 160px"> *Known Hate Speech source </p> -->
	 		</div>

	 		<div id="articleCountChart" style="width: 825px; height: 300px"> </div>
	 		<p style="font-size:small; padding-left: 50px"> * Note: There are no articles for months marked with a * due to a failure in collection. </p>
	 		<div id="facebookEngagementChart" style="width: 825px; height: 300px; padding-bottom: 15px; padding-top: 20px"></div>
	 		<p style="font-size:small; padding-left: 50px"> * Note: Facebook engagement data was collected on the same day for all articles. Values additionally may not be accurate due to a redirect of the article's link, which was not accounted for in collection. </p>
	 	</div>
	 	<div style="width:475px; float: left; margin-top: 30px; padding-left:50px">
	 		<table class="table table-hover" id="featuredArticles">
	 			<thead>
	 				<tr>
	 					<th> </th>
	 					<th> <img style="width:50px" src="/static/shareIcon.png"> </th>
	 				</tr>
	 			</thead>
	 			<tbody>
<!-- 	 			<tr>
	 					<td> <a href="#"> Sample Article </a> </td>
	 				</tr>
	 				<tr>
	 					<td> <a href="#"> Sample Article </a> </td>
	 				</tr>
	 				<tr>
	 					<td> <a href="#"> Sample Article </a> </td>
	 				</tr>
	 				<tr>
	 					<td> <a href="#"> Sample Article </a> </td>
	 				</tr>
	 				<tr>
	 					<td> <a href="#"> Sample Article </a> </td>
	 				</tr>
	 				<tr>
	 					<td> <a href="#"> Sample Article </a> </td>
	 				</tr>
	 				<tr>
	 					<td> <a href="#"> Sample Article </a> </td>
	 				</tr>
	 				<tr>
	 					<td> <a href="#"> Sample Article </a> </td>
	 				</tr>
	 				<tr>
	 					<td> <a href="#"> Sample Article </a> </td>
	 				</tr>
	 				<tr>
	 					<td> <a href="#"> Sample Article </a> </td>
	 				</tr> -->
	 			</tbody>
	 		</table>
	 	</div>
 	</div>
</div>	

</body>
