<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
div.url {
    /*color: white;
    background-color: black;*/
    padding: 10px;
}
div.source_table {
    background-color: #DDDDDD;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    padding: 10px;
}
</style>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'jquery-ui.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-1.12.4.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery-ui.js') }}"></script>

</head>
<body>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/d3.v3.min.js') }}"></script>
<!-- Added files -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'index.css') }}"></script>

<!-- Added navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" style="z-index: 3"> 
  <img id ="navLogo" class="navbar-brand" src="/static/logo/logo_small_trans.png"></img>
  <ul class="nav navbar-nav navbar-right">
    <li> 
      <a href="/"> Home </a>
    </li>
    <li>
      <a style="padding-right:50px" href="/help"> Help </a>
    </li>
  </ul>
</nav>

<div class="url"  style="margin-top: 50px">
<form action="/article" method="POST">
<!-- <h1>Credibility Toolkit</h1> -->
  <input name="url" list="urls" style="width:91%; margin-top: 25px">
  <datalist id="urls">
    <option value="http://www.npr.org/sections/thetwo-way/2016/12/10/505103338/in-reversal-gambian-president-rejects-loss-and-calls-for-new-election">
    <option value="http://www.nytimes.com/2017/06/23/us/politics/paul-manafort-jeffrey-yohai.html">
    <option value="http://www.nytimes.com/2017/06/23/world/middleeast/immigration-asylum-syria-terrorism.html">
    <option value="http://www.infowars.com/media-attempts-to-omit-legal-status-of-man-arrested-for-murder-of-muslim-girl">
    <option value="http://beforeitsnews.com/opinion-liberal/2017/06/yes-mr-putin-we-americans-have-lost-our-mind-2555917.html">
    <option value="http://www.cbsnews.com/news/vladimir-putin-gave-direct-instructions-help-elect-donald-trump-report/">
    <option value="https://www.washingtonpost.com/powerpost/senate-gop-leaders-set-to-unveil-health-care-bill/2017/06/22/56dbe35c-5734-11e7-a204-ad706461fa4f_story.html?utm_term=.b
3b85da9a1f7">
  </datalist>
  <input type="submit" class="value="Add Page" style="width:7%">
</form>
</div>

<!-- Objectivity Sliders -->
<div id="panelContainer" style="margin-left:10px">
<div class='panel panel-default' style="width:800px;">
<div class="panel-heading" style="font-weight:bold; font-size:larger"> <center> Table Filters </center> </div>
<div class="panel-body">
<table><tbody>

<tr><td>
<label for="credibility-slider-vals">Credibility Range:</label>
<input type="text" id="credibility-slider-vals" readonly style="border:0; color:#f6931f; /*background-color:#000000;*/">
</td><td width="50%">
<div id="credibility-slider"></div>
</td></tr>

<tr><td>
<label for="bias-slider-vals">Political Impartiality Range:</label>
<input type="text" id="bias-slider-vals" readonly style="border:0; color:#f6931f; /*background-color:#000000;*/">
</td><td width="50%">
<div id="bias-slider"></div>
</td></tr>

<tr><td>
<label for="title-slider-vals">Title Objectivity Range:</label>
<input type="text" id="title-slider-vals" readonly style="border:0; color:#f6931f; /*background-color:#000000;*/">
</td><td width="50%">
<div id="title-slider"></div>
</td></tr>

<tr><td>
<label for="text-slider-vals">Text Objectivity Range:</label>
<input type="text" id="text-slider-vals" readonly style="border:0; color:#f6931f; /*background-color:#000000;*/">
</td><td width="50%">
<div id="text-slider"></div>
</td></tr>

<tr><td>
<label for="community-slider-vals">Community Rating Range:</label>
<input type="text" id="community-slider-vals" readonly style="border:0; color:#f6931f; /*background-color:#000000;*/">
</td><td width="50%">
<div id="community-slider"></div>
</td></tr>

</tbody></table>
</div>
</div>
</div>
<p>

<!-- div id="community_buttons" width="100%">Community Types:<br></div>
<p-->

</div>
<p>

<!-- <div class="source_table" id="source_table" width="100%"></div> -->
<p>
<div id="article_table" width="100%"></div>
<p>
<div id="charts" width="100%"></div>

<script>

var oncolor="#11CC11";
var offcolor="#AAAAAA";
var communities = [];
var show_credibility = [0.0, 100.0]; // min, max
var show_bias = [0.0, 100.0]; // min, max
var show_subjectivity = [0.0, 100.0, 0.0, 100.0]; // min_title_subj, max_title_subj, min_text_subj, max_text_subj
var show_community = [0.0, 100.0]; // min, max

var all_data;
var source_columns = ["Site Name", "Credibility Score", "Political Impartiality Score", "URL"];
var table_columns = ["Credibility", "Political Impartiality", "Title", "Source", "Title Objectivity", "Text Objectivity", "Community Rating", "URL"];

var sort_value = 3;
var sort_reverse = false;
var expanded_row = false;

var article_table;

d3.json("{{json|string|safe}}", function(error, data) {
  all_data = data;
  
  /* store communities of interest and credibility types in lists. The values
   * of these lists are tuples, with the second value being a boolean stating
   * if we should show values matching this type in the article table.
   */
  communities = [];
  for (key in data.communities) {
    communities.push([key, true]);
  };

  //add_buttons("#community_buttons", communities);

  source_table = d3.select("#source_table")
                    .append("table")
                    .attr("width", "100%")
                    .attr("border", "0");

  source_table.append("thead")
               .selectAll("th")
               .data(source_columns)
               .enter()
               .append("th")
               .append("td")
               .attr("align", "left")
               .text(function(d) { return d; })

  var rows = source_table.append("tbody")
              .selectAll("tr")
              .data(Object.values(all_data.bulk_source_tests))
              .enter()
              .append("tr")

  rows.attr("id", function(d, i) { return Object.keys(all_data.bulk_source_tests)[i]; })

  fill_in_table_data(rows);

  article_table = d3.select("#article_table")
                    .append("table")
                    .attr("width", "100%")
                    .attr("border", "0");

  article_table.append("thead")
               .selectAll("th")
               .data(table_columns)
               .enter()
               .append("th")
               .append("td")
               .attr("align", "left")
               .text(function(d) { return d; })
               .on("click", function (d, i) { sort_table_column(i) });

  setup_article_table();
});

function fill_in_table_data(rows) {
  var tdata = rows.selectAll("td")
      .data(function(d) {return d;})

  tdata.enter()
       .append("td")

  /* We can add images, links, or text here, so we have to do this as a
   * function
   */
  tdata.each(function(d) {
        var val = d3.select(this);
        val.selectAll("*").remove();
        if (typeof d == 'string') {
	  if (d.startsWith("http")) {
            val.append("a")
               .attr("href", d)
               .text(d);
	  }
	  else {
            val.text(d);
	  }
        }
        else {
          if (typeof d == 'number') {
	    d = color_result(d)
          }
          item = val.append(d.type);
          for (attr in d.attrs) {
            item.attr(attr, d.attrs[attr])
          }
          if ('text' in d) {
            item.text(d.text);
          }
        }
      });

  tdata.exit().remove();
}

function add_buttons(tag, values) {
  /* add grey/green buttons at the top that let the analyst turn on/off buttons
   * of interest. When these buttons are off, the matching entries will be
   * omitted from the article table.
   */

  function click_buttons() {
    var info = d3.select(this).datum()
  
    // Turn off the button
    if (info[1]) {
      info[1] = false;
    }
    else {
      d3.select(this)
        .attr("bgcolor", oncolor);
      info[1] = true;
    }
  
    d3.select(this)
      .attr("bgcolor", function(d) { return d[1] ? oncolor : offcolor; });
  
    var ret = []
    values.forEach(function(d) {
      if (d[1]) {
        ret.push(d[0]);
      }
    });
  
    setup_article_table();
  }

  buttons = d3.select(tag)
              .append("table")
              .attr("width", "100%")
              .append("tbody")
              .append("tr");

  buttons.selectAll("td")
         .data(values)
         .enter()
           .append("td")
           .attr("id", function(d) { return "button-" + d[0]; })
           .attr("bgcolor", function(d) { return d[1] ? oncolor : offcolor; })
           .on("click", click_buttons)
           .append("center")
           .append("b")
           .text(function(d) { return d[0]; });

  return buttons;
}

function sort_table_column(sort_index) {
  if (sort_index != sort_value || sort_reverse) {
    sort_value = sort_index;
    sort_reverse = false;
  }
  else {
    sort_reverse = true;
  }

  setup_article_table();
}

function get_credibility_filter_result(d) {
  return d.classifiers[0].result;
}

function get_bias_filter_result(d) {
  return d.classifiers[1].result;
}

function get_community_filter_result(d) {
  return d.classifiers[2].result;
}

function get_subjectivity_result(d) {
  return d.classifiers[3].result;
}

function clear_expanded_row() {
  article_table.selectAll("#details-row").remove();
  expanded_row = false;
}

function expand_row(d, i) {
  parent = d3.select(this.parentNode);
  parent.selectAll("#details-row").remove();

  url = d[d.length-1].attrs.href;
  if (expanded_row == url) {
    expanded_row = false;
    return;
  }

  expanded_row = url;

  /* Find our data */
  info = false
  all_data.urls.some(function (d) {
    if (d.url == url) {
      info = d;
      return true;
    }
    return false;
  })

  div = parent.insert("tr", "#info-row-" + i + "+*")
              .attr("id", "details-row")
              .append("td")
              .attr("colspan", d.length)
              .append("p")
              .append("div")
              .style("border-style", "outset")
              .style("border-width", 1)

  div.append("font")
     .text(url)
  div.append("p")

  /* Fake Filter Results */
  div.append("h3")
     .text("Credibility Filter:")
  get_credibility_filter_result(info).forEach(function (a) {
    div.append("font")
       .text(a[0] + ": " + a[1])
    div.append("br")
  });
  div.append("p")

  /* Impartiality Filter Results */
  div.append("h3")
     .text("Political Impartiality Filter:")
  get_bias_filter_result(info).forEach(function (a) {
    div.append("font")
       .text(a[0] + ": " + a[1])
    div.append("br")
  });
  div.append("p")

  /* Community Filter Results */
  div.append("h3")
     .text("Community Rating Filter:")
  get_community_filter_result(info).forEach(function (a) {
    div.append("font")
       .text(a[0] + ": " + a[1])
    div.append("br")
  });
  div.append("p")

  /* Article Text */
  div.append("h3")
     .text("Article Text:")
  div.append("font")
     .text(info.text)
  div.append("p")

  /* Remove Entry Button */
  div.append("form")
     .attr("action", "/remove")
     .attr("method", "POST")
     .append("button")
       .attr("type", "submit")
       .attr("name", "url")
       .attr("value", url)
       .text("Remove Entry")
  div.append("p")
}
  
function get_perc_str(value) {
  return Math.round(value * 100).toString() + "%";
}

function color_result(value) {
  if (value < .4) {
    color = 'red';
  }
  else if (value < .6) {
    color = 'orange';
  }
  else {
    color = 'green';
  }
  return {type:"font", attrs:{color:color}, text:get_perc_str(value)}
}

function setup_article_table() {
  clear_expanded_row();

  table_values = []

  /* Apply filters to the data:
   * (1) Remove real/fake/satire data as requested
   * (2) Only use data with popularity/engagement values above 0 for
   *     communities the analyst is interested in.
   * (3) Remove data that does not fit within the double slider values of
   *     subjectivity.
   */
  var filtered_data = all_data.urls.filter(function(d) {
    /* Credibility filters */
    credibility = get_credibility_filter_result(d)[1][1];
    if (credibility * 100 < show_credibility[0] || credibility * 100 > show_credibility[1]) {
      return false;
    }

    /* Impartiality filters */
    bias = get_bias_filter_result(d)[1][1];
    if (bias * 100 < show_bias[0] || bias * 100 > show_bias[1]) {
      return false;
    }

    subj = get_subjectivity_result(d);
    if (subj[0] * 100 < show_subjectivity[0] || subj[0] * 100 > show_subjectivity[1]) {
      return false;
    }
    else if (subj[1] * 100 < show_subjectivity[2] || subj[1] * 100 > show_subjectivity[3]) {
      return false;
    }

    /* Community filters */
    community = get_community_filter_result(d)[0][1];
    if (community * 100 < show_community[0] || community * 100 > show_community[1]) {
      return false;
    }

    return true;
  });

  filtered_data.forEach(function (d, i) {
    // first check if we are filtering out this data
    
    entry = []

    /* Screen Shot Thumbnail
    if ("screenshot" in d) {
      entry.push({type:"img", attrs:{src:d.screenshot}})
    }
    */

    /* Credibility Filter */
    credibility = parseFloat(get_credibility_filter_result(d)[1][1])
    entry.push(color_result(credibility));

    /* Impartiality Filter */
    bias = parseFloat(get_bias_filter_result(d)[1][1])
    entry.push(color_result(bias));

    /* Title */
    entry.push(d.title);

    /* Source */
    entry.push(d.source);

    /* Objectivity Measure */
    subj = get_subjectivity_result(d);
    entry.push(color_result(subj[0]));
    entry.push(color_result(subj[1]));

    /* Community Filter */
    community = parseFloat(get_community_filter_result(d)[0][1])
    entry.push(color_result(community));

    /* Link to article */
    entry.push({type:"a", attrs:{href:d.url, target:"_blank"}, text:'Link'});

    table_values.push(entry);
  });

  table_values.sort(function(a, b) {
    a_val = parseInt(a[sort_value]);
    b_val = parseInt(b[sort_value]);

    if (isNaN(a_val) || isNaN(b_val)) {
      a_val = a[sort_value];
      b_val = b[sort_value];
    }

    if (typeof a_val === 'object') {
      a_val = a_val.text;
    }

    if (typeof b_val === 'object') {
      b_val = b_val.text;
    }

    ret = 0;
    if (a_val < b_val) {
      ret = -1;
    }
    else if (a_val > b_val) {
      ret = 1;
    }

    if (sort_reverse) {
      ret = ret * -1;
    }

    return ret;
  });

  var rows = article_table.selectAll("tr")
                          .data(table_values)

  rows.enter()
      .append("tr")
      .attr("id", function(d, i) { return "info-row-" + i} )
      .attr("bgColor", "#FFFFFF")
      .on("click", expand_row)
      .on("mouseover", function() { d3.select(this).attr("bgColor","#CCCCCC"); })
      .on("mouseout", function() { d3.select(this).attr("bgColor","#FFFFFF"); })

  fill_in_table_data(rows);

  rows.exit().remove();

  //create_graph(table_values);
}

function create_graph(table_values) {
  create_pie(table_values, "Credibility", ["Reliable", "Unreliable"], 0);
}

function create_pie(table_values, name, labels, index) {
  charts = d3.select("#charts");
  charts.selectAll("#" + name).remove();
  charts.append("div")
        .attr("id", name)
        .style("width", "30%");

  values = []
  for (j in labels) {
    values.push(0);
  }

  pie = [{values:values, labels:labels, type:'pie'}];
  layout = {title:name, height:300, width:300};

  table_values.forEach(function(a, i) {
    for (j in pie[0].labels) {
      if (a[index].text == pie[0].labels[j]) {
        pie[0].values[j]++;
      }
    }
  });

  Plotly.newPlot(name, pie, layout);
}

/* Slider definitions */

$( function() {
  $( "#credibility-slider" ).slider({
    range: true,
    min: 0,
    max: 100,
    values: [ 0, 100 ],
    slide: function( event, ui ) {
      $( "#credibility-slider-vals" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      show_credibility[0] = ui.values[0];
      show_credibility[1] = ui.values[1];
      setup_article_table();
    }
  });
  $( "#credibility-slider-vals" ).val( $( "#credibility-slider" ).slider( "values", 0 ) +
    " - " + $( "#credibility-slider" ).slider( "values", 1 ) );
  show_credibility[0] = $("#credibility-slider").slider("values", 0);
  show_credibility[1] = $("#credibility-slider").slider("values", 1);
} );

$( function() {
  $( "#bias-slider" ).slider({
    range: true,
    min: 0,
    max: 100,
    values: [ 0, 100 ],
    slide: function( event, ui ) {
      $( "#bias-slider-vals" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      show_bias[0] = ui.values[0];
      show_bias[1] = ui.values[1];
      setup_article_table();
    }
  });
  $( "#bias-slider-vals" ).val( $( "#bias-slider" ).slider( "values", 0 ) +
    " - " + $( "#bias-slider" ).slider( "values", 1 ) );
  show_bias[0] = $("#bias-slider").slider("values", 0);
  show_bias[1] = $("#bias-slider").slider("values", 1);
} );

$( function() {
  $( "#title-slider" ).slider({
    range: true,
    min: 0,
    max: 100,
    values: [ 0, 100 ],
    slide: function( event, ui ) {
      $( "#title-slider-vals" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      show_subjectivity[0] = ui.values[0];
      show_subjectivity[1] = ui.values[1];
      setup_article_table();
    }
  });
  $( "#title-slider-vals" ).val( $( "#title-slider" ).slider( "values", 0 ) +
    " - " + $( "#title-slider" ).slider( "values", 1 ) );
  show_subjectivity[0] = $("#title-slider").slider("values", 0);
  show_subjectivity[1] = $("#title-slider").slider("values", 1);
} );

$( function() {
  $( "#text-slider" ).slider({
    range: true,
    min: 0,
    max: 100,
    values: [ 0, 100 ],
    slide: function( event, ui ) {
      $( "#text-slider-vals" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      show_subjectivity[2] = ui.values[0];
      show_subjectivity[3] = ui.values[1];
      setup_article_table();
    }
  });
  $( "#text-slider-vals" ).val( $( "#text-slider" ).slider( "values", 0 ) +
    " - " + $( "#text-slider" ).slider( "values", 1 ) );
  show_subjectivity[2] = $("#title-slider").slider("values", 0);
  show_subjectivity[3] = $("#title-slider").slider("values", 1);
} );

$( function() {
  $( "#community-slider" ).slider({
    range: true,
    min: 0,
    max: 100,
    values: [ 0, 100 ],
    slide: function( event, ui ) {
      $( "#community-slider-vals" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
      show_community[0] = ui.values[0];
      show_community[1] = ui.values[1];
      setup_article_table();
    }
  });
  $( "#community-slider-vals" ).val( $( "#community-slider" ).slider( "values", 0 ) +
    " - " + $( "#community-slider" ).slider( "values", 1 ) );
  show_community[0] = $("#community-slider").slider("values", 0);
  show_community[1] = $("#community-slider").slider("values", 1);
} );

</script>
</body>
</html>
